.filterButtons{
    position: absolute;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 9999;
}

.filterResult{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.filter{
    padding-left: 10px;
    width: 15%;
    position: relative;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
}

.ingredientsDivButton{
    background-color: #3282F7;
}

.ustensilsDivButton{
    background-color: #ED6454;
}

.appliancesDivButton{
    background-color: #68D9A4;
    
}

.downArrow{
    position: absolute;
    right: 7%;
    top: 17px;
}

.button{
    border: none;
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 16px;
    padding-top: 15px;
}

.listButtons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    overflow: hidden;
}

@keyframes increaseSize {
    from {width: 15%; height: 50px;}
    to {width: 30%; height: auto;}
  }